<%= link_to "My Posts", my_posts_path %>

<% @posts.each do |post| %>
<div style="box-shadow: 0 0 10px rgba(10, 10, 10, 0.3); padding: 10px; margin-bottom: 10px;">
  <h1><%= post.title %></h1>
  <hr />
  <p><%= post.description %></p>
  <hr />
  <small>Post written by <%= post.user.email %></small>
</div>
<% end %>